#global-tab-container{
	/*margin-left:-30px;*/
}
.tab-inner{
	display:inline-block;
	margin-right: 30px;
}

/* Indent all child .tab-containers */
.tab-container:not(:first-child)	{		
	color:red;
	margin-left: 30px;
}